<div class='form-group'>
  <div class='col-sm-offset-2 col-sm-8'>
    <h1 align="left">Edit existing article</h1>
  </div>
</div>

<!--  older, simpler approach, w/o styling
<h1> Edit existing article</h1>
-->

<%= render 'form' %>