<div class="jumbotron center">
  <h1>Alpha Blog!</h1>
  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
  <%= link_to "Sign Up", "#", class: "btn btn-danger btn-lrg btn-xlrg" %>
</div>

<!-- old footer links -->
<!--
<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %>  | <%= link_to 'Home2', home2_path %>
-->
